h4{
    font-size:19;
    font-weight:bold;
}

#forma .form-control-feedback {
    margin-left: 5%;
}
#forma .selectContainer .form-control-feedback {
    right: 5%;
}

.row{
    margin-right:100px;
    font-size:15px;
}

#menuv{
  width:230px;
}

#grafs{
  width:123%;
}

.form-group{
    margin-left:5%;
    margin-right:5%;
}

#enviar{
    margin-left:5%;
}

.breadcrumb{
  font-size:20px;
}


@media (min-width: 100px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 10;
    max-height:50%;

  }
  .sidebar-nav .navbar ul {
    float: none;
  }
 .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

